<div class="container" fxLayout="row" fxLayoutAlign="center center"
    style="margin-top: 20px; height: 100vh; width: 100vh">
    <h4>Unesite podatke o novom postu:</h4>
    <form class="needs-validation" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="description">Opis:</label>
            <textarea class="form-control" rows="2" placeholder="Opis" [(ngModel)]="this.description"
                name="clinicDescription" id="description"></textarea>
        </div>
        <div class="form-group">
          <label for="tag">Tag:</label>
          <textarea class="form-control" rows="2" placeholder="Tag" [(ngModel)]="this.tag"
              name="tag" id="tag"></textarea>
      </div>
      <div class="form-group">
        <label for="lokacija">Lokacija:</label>
        <textarea class="form-control" rows="2" placeholder="Lokacija" [(ngModel)]="this.location"
            name="lokacija" id="lokacija"></textarea>
    </div>
    <div class="form-group">
      <label>Ubacite sliku </label>
          <input type="file" accept="image/*" (change)="onSelectFile($event)">
          <img [src]="imgURL" height="200" *ngIf="imgURL">
  </div>
        <button class="btn btn-success" type="submit">Dodaj post</button>
    </form>
</div>
