<p>

</p>
<div>
  <p><b>Username:</b> {{korisnik.username}}</p>
  <p><b>Ime:</b> {{korisnik.ime}}</p>
  <p><b>Prezime:</b> {{korisnik.prezime}}</p>
  <p><b>Email:</b> {{korisnik.email}}</p>
  <p><b>Broj telefona:</b> {{korisnik.brtel}}</p> 
  </div>
<div *ngIf="ima_postova">
  <div class="rezultati">
    <table id="tableSearch" *ngIf='flagForSearchTable' class="table table-hover table-bordered table-striped" matSort
    (matSortChange)="sortData1($event)">
    <thead style="background-color:rgb(117, 197, 197, 0.5);">
      <tr>
        <th>Postovi:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let post of postovi'>
        <td >{{ post.slika }}</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
