
<h1>Profil</h1>
<div>
  <p><b>Username:</b> {{korisnik.username}}</p>
  <p><b>Ime:</b> {{korisnik.name}}</p>
  <p><b>Prezime:</b> {{korisnik.surname}}</p>
  <p><b>Email:</b> {{korisnik.email}}</p>
  <br>

  <button class="btn btn-success" (click)="sendRequest()">Zaprati profil</button>

  <h1 *ngIf= "!publicProfile">Privatni profil</h1>
  </div> 
<div *ngIf= "publicProfile">
  <h2>Postovi:</h2>
  <div class="rezultati">
    <table id="tableSearch" class="table table-hover table-bordered table-striped">
    <thead style="background-color:rgb(117, 197, 197, 0.5);">
      <tr>
        <th>Opis</th>
        <th>Lokacija</th>
        <th>Tag</th>
        <th>Slika</th>
        <th></th>
        <th>Lajkovi</th>
        <th>Dislajkovi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let post of posts'>
        <td >{{ post.description}}</td>
        <td >{{ post.location }}</td>
        <td >{{ post.tags[0] }}</td>
        <td ><img class="card-img-top img-responsive"
          src = "{{'http://localhost:8084/ImgPost/'+ post.identificationNum}}" 
          style = "height :200px;width:fil-content"
         alt=""></td>
         <td><button mdbBtn type="button" color="success" rounded="true" mdbWavesEffect>Like</button>
         <button mdbBtn type="button" color="success" rounded="true" mdbWavesEffect>Dislike</button></td>
         <td >{{ post.likes }}</td>
         <td >{{ post.dislikes }}</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
