<div class="col-75">
  <div class="container">
    <form name="form" (ngSubmit)="f.form.valid && search()" #f="ngForm" novalidate>
      <div class="col-50">
        <h2>Pretraga po tagovima</h2>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !mesto.valid }">
          <label for="mesto">Naziv taga:</label>
          <input type="text" id="mesto" name="mesto" [(ngModel)]="tag" #mesto="ngModel" required>
          <div *ngIf="f.submitted && !mesto.valid" class="help-block">Naziv taga je obavezan</div>
        </div>
        </div>
      <button type="submit" class="btn">Pretrazi</button>
    </form>
  </div>
</div>

<div >
  <div class="rezultati">
    <h1>
      <b>Rezultati pretrage:</b>
    </h1>
    <div *ngFor="let p of posts">
        <div>
          <h2> Korisnik: {{p.user}}</h2>
          <a href="#">Slika: <img class="card-img-top img-responsive"
            src = "{{'http://localhost:8084/ImgPost/'+ p.identificationNum}}" 
            style = "height :200px;width:fil-content"
           alt=""></a>
          <h3> Opis: {{p.description}}</h3>
          <h3> Tag: {{p.tags[0]}}</h3>
          <h3> Lajkovi: {{p.likes}}</h3>
          <h3> Dislajkovi: {{p.dislikes}}</h3>
          <h3> Komentari: </h3>
        </div>
    </div>
  </div>
</div>